.gridIndex .tituloParaTodo, .gridNosotros .tituloParaTodo, .gridProyectos .tituloParaTodo, .gridBlog .tituloParaTodo, .gridContacto .tituloParaTodo {
  grid-area: titulo;
  text-align: center;
  color: #4e134e;
  font-weight: bold;
  text-shadow: 1px 2px black; }

/*Estilos de Index*/
.contenedorGrid {
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
  row-gap: 1rem; }

.headerParaTodo {
  grid-area: header;
  display: flex;
  background-image: linear-gradient(to left, #9df9da, #9ccddc);
  justify-content: space-around; }
  .headerParaTodo .navbar .container-fluid .navbar-toggler {
    margin: 0 auto; }
  .headerParaTodo .navbar .container-fluid .menu ul {
    display: flex; }
    .headerParaTodo .navbar .container-fluid .menu ul li {
      list-style: none;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      background-color: wheat;
      margin: 1rem;
      border-radius: 40%; }
      .headerParaTodo .navbar .container-fluid .menu ul li a {
        text-decoration: none; }
    .headerParaTodo .navbar .container-fluid .menu ul li:hover {
      -webkit-transform: scale(1.2);
      -o-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }

.gridIndex {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
  grid-template-areas: "titulo titulo" "imgUno imgUno" "texto imgDos" "iconos iconos";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .gridIndex .imagenPrincipal {
    grid-area: imgUno; }
  .gridIndex .texto {
    grid-area: texto;
    padding: 7rem; }
    .gridIndex .texto p {
      font-weight: bold;
      text-align: center;
      font-size: x-large; }
  .gridIndex .imagen2 {
    grid-area: imgDos;
    justify-self: left; }
    .gridIndex .imagen2 img {
      width: 89%; }
  .gridIndex .iconos {
    grid-area: iconos; }
    .gridIndex .iconos ul {
      display: flex;
      gap: 2rem; }
      .gridIndex .iconos ul li {
        list-style: none; }

.gridFooter {
  grid-area: footer;
  background-color: #c4fae8;
  display: flex;
  justify-content: space-around; }
  .gridFooter .derechos {
    margin: 0.5rem;
    text-align: center;
    align-self: center;
    font-size: small; }
  .gridFooter section {
    align-self: center; }
    .gridFooter section .siguenos {
      margin: 0.5rem;
      font-weight: bold;
      font-size: large; }

/*Vista tablet index*/
@media only screen and (max-width: 991px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridIndex {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 0.5fr;
    grid-template-areas: "titulo" "imgUno" "texto" "imgDos" "iconos";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .gridIndex .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridIndex .imagenPrincipal {
      text-align: center; }
      .gridIndex .imagenPrincipal img {
        width: 90%; }
    .gridIndex .imagen2 {
      text-align: center;
      justify-self: center; }
      .gridIndex .imagen2 img {
        width: 80%;
        justify-self: center; }
    .gridIndex .texto {
      padding: 4rem; } }

/*Vista mobile index*/
@media only screen and (max-width: 480px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridIndex {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo" "imgUno" "texto" "imgDos" "iconos";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .gridIndex .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridIndex .imagenPrincipal {
      text-align: center; }
      .gridIndex .imagenPrincipal img {
        width: 90%; }
    .gridIndex .imagen2 {
      text-align: center;
      justify-self: center; }
      .gridIndex .imagen2 img {
        width: 80%;
        justify-self: center; }
    .gridIndex .texto {
      padding: 1.5rem; }
      .gridIndex .texto p {
        font-size: medium; } }

/*Estilos de Nosotros*/
.gridNosotros {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas: "titulo titulo" "imgNosotros textoNosotros";
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
  column-gap: 1rem; }
  .gridNosotros .imagenNosotros {
    grid-area: imgNosotros;
    text-align: center; }
    .gridNosotros .imagenNosotros img {
      width: 80%; }
  .gridNosotros .textoNosotros {
    grid-area: textoNosotros;
    padding-right: 8rem;
    align-self: center; }
    .gridNosotros .textoNosotros p {
      font-size: x-large;
      font-weight: bold;
      text-align: justify; }

/*Vista tablet Nosotros*/
@media only screen and (max-width: 991px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.5fr;
    grid-template-areas: "titulo" "imgNosotros" "textoNosotros";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1rem; }
    .gridNosotros .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridNosotros .textoNosotros {
      padding: 5rem; }
      .gridNosotros .textoNosotros p {
        font-size: large; } }

/*Vista mobile Nosotros*/
@media only screen and (max-width: 480px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridNosotros {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr;
    grid-template-areas: "titulo" "imgNosotros" "textoNosotros";
    justify-content: center;
    justify-items: center;
    align-items: center; }
    .gridNosotros .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridNosotros .textoNosotros {
      padding: 2.5rem; }
      .gridNosotros .textoNosotros p {
        font-size: medium; } }

/*Estilos de Proyectos*/
.gridProyectos {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "proyectoUno proyectoDos proyectoTres" "tuProyecto tuProyecto tuProyecto";
  justify-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 1rem; }
  .gridProyectos .proyectoUno {
    grid-area: proyectoUno;
    text-align: center; }
    .gridProyectos .proyectoUno p {
      font-weight: bold;
      font-size: large;
      text-align: center;
      margin-top: 1rem; }
    .gridProyectos .proyectoUno img {
      width: 80%;
      border-radius: 10%; }
  .gridProyectos .proyectoDos {
    grid-area: proyectoDos;
    text-align: center; }
    .gridProyectos .proyectoDos p {
      font-weight: bold;
      font-size: large;
      text-align: center;
      margin-top: 1rem; }
    .gridProyectos .proyectoDos img {
      width: 80%;
      border-radius: 10%; }
  .gridProyectos .proyectoTres {
    grid-area: proyectoTres;
    text-align: center; }
    .gridProyectos .proyectoTres p {
      font-weight: bold;
      font-size: large;
      text-align: center;
      margin-top: 1rem; }
    .gridProyectos .proyectoTres img {
      width: 80%;
      border-radius: 10%; }
  .gridProyectos .tuProyecto {
    padding: 1rem;
    background-color: #9ccddc;
    border-radius: 1%;
    grid-area: tuProyecto;
    text-align: center;
    margin-left: 25rem;
    margin-right: 25rem; }
    .gridProyectos .tuProyecto p {
      text-align: center;
      font-size: large; }
    .gridProyectos .tuProyecto fieldset label {
      font-size: large;
      font-weight: bold;
      margin-bottom: 1rem; }
    .gridProyectos .tuProyecto fieldset input {
      border-radius: 30px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-top: 1rem; }
    .gridProyectos .tuProyecto fieldset input:hover {
      background-color: wheat; }

/*vista tablet Proyectos*/
@media only screen and (max-width: 991px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridProyectos {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo" "proyectoUno" "proyectoDos" "proyectoTres" "tuProyecto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1rem; }
    .gridProyectos .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridProyectos .tuProyecto {
      margin-left: 1rem;
      margin-right: 1rem; }
      .gridProyectos .tuProyecto fieldset textarea {
        width: 100%; } }

/*vista mobile Proyectos*/
@media only screen and (max-width: 480px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridProyectos {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "titulo" "proyectoUno" "proyectoDos" "proyectoTres" "tuProyecto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1rem; }
    .gridProyectos .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridProyectos .tuProyecto {
      margin-left: 1rem;
      margin-right: 1rem; }
      .gridProyectos .tuProyecto fieldset textarea {
        width: 100%; } }

/*Estilos de Blog*/
.gridBlog {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 1fr;
  grid-template-areas: "titulo titulo titulo" "articulo1 articulo2 articulo3" "articulo4 articulo5 articulo6";
  justify-items: center;
  justify-content: center;
  align-items: center;
  row-gap: 1rem; }
  .gridBlog .articulo1 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo1; }
    .gridBlog .articulo1 img {
      width: 80%; }
    .gridBlog .articulo1 p {
      margin-top: 1rem; }
  .gridBlog .articulo2 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo2; }
    .gridBlog .articulo2 img {
      width: 80%; }
    .gridBlog .articulo2 p {
      margin-top: 1rem; }
  .gridBlog .articulo3 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo3; }
    .gridBlog .articulo3 img {
      width: 80%; }
    .gridBlog .articulo3 p {
      margin-top: 1rem; }
  .gridBlog .articulo4 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo4; }
    .gridBlog .articulo4 img {
      width: 80%; }
    .gridBlog .articulo4 p {
      margin-top: 1rem; }
  .gridBlog .articulo5 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo5; }
    .gridBlog .articulo5 img {
      width: 80%; }
    .gridBlog .articulo5 p {
      margin-top: 1rem; }
  .gridBlog .articulo6 {
    text-align: center;
    font-weight: bold;
    grid-area: articulo6; }
    .gridBlog .articulo6 img {
      width: 80%; }
    .gridBlog .articulo6 p {
      margin-top: 1rem; }

/*vista tablet blog*/
@media only screen and (max-width: 991px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridBlog {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas: "titulo titulo" "articulo1 articulo2" "articulo3 articulo4" "articulo5 articulo6";
    justify-items: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem; }
    .gridBlog .tituloParaTodo {
      text-shadow: 1px 1px black; } }

/*vista mobile blog*/
@media only screen and (max-width: 480px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridBlog {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr repeat(6, 1fr);
    grid-template-areas: "titulo" "articulo1" "articulo2" "articulo3" "articulo4" "articulo5" "articulo6";
    justify-items: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem; }
    .gridBlog .tituloParaTodo {
      text-shadow: 1px 1px black; } }

/*Estilos de Contacto*/
.gridContacto {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas: "titulo titulo" "contacto img6";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  .gridContacto .imagenContacto {
    grid-area: img6;
    justify-self: center;
    transform: scale(0.6); }
  .gridContacto .imagenMobile {
    display: none; }
  .gridContacto .formaContacto {
    justify-self: right;
    grid-area: contacto;
    font-size: 1rem; }
    .gridContacto .formaContacto fieldset {
      border: none; }
      .gridContacto .formaContacto fieldset legend {
        font-weight: bold;
        margin-bottom: 2rem; }
      .gridContacto .formaContacto fieldset .botonesContacto input {
        border-radius: 30px;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1rem;
        margin-top: 1rem; }
      .gridContacto .formaContacto fieldset .botonesContacto input:hover {
        background-color: wheat; }

/*vista tablet contacto*/
@media only screen and (max-width: 991px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridContacto {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 0.6fr 1fr;
    grid-template-areas: "titulo" "imgMobile" "contacto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1rem; }
    .gridContacto .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridContacto .formaContacto {
      justify-self: center; }
    .gridContacto .imagenMobile {
      display: block;
      grid-area: imgMobile;
      text-align: center; }
      .gridContacto .imagenMobile img {
        width: 80%; }
    .gridContacto .imagenContacto {
      display: none; } }

/*vista mobile contacto*/
@media only screen and (max-width: 480px) {
  .headerParaTodo {
    justify-content: unset; }
    .headerParaTodo .navbar {
      width: 100%; }
      .headerParaTodo .navbar .container-fluid .menu ul li {
        background-color: transparent; }
  .gridContacto {
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 0.4fr 1fr;
    grid-template-areas: "titulo" "imgMobile" "contacto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 1rem; }
    .gridContacto .tituloParaTodo {
      text-shadow: 1px 1px black; }
    .gridContacto .formaContacto {
      justify-self: center; }
    .gridContacto .imagenMobile {
      display: block;
      grid-area: imgMobile;
      text-align: center; }
      .gridContacto .imagenMobile img {
        width: 80%; }
    .gridContacto .imagenContacto {
      display: none; } }

/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*fonts*/
  font-family: 'Raleway', sans-serif; }
