/*reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /*fonts*/

    font-family: 'Raleway', sans-serif;

}

/*Estilos globales*/

.contenedorGrid{
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:"header"
                        "main"
                        "footer";
}

.headerParaTodo{
    grid-area: header;
    display: flex;
    background-image: linear-gradient(to left, rgb(157, 249, 218), rgb(156, 205, 220));
    justify-content: space-around;

}


.navbar-toggler{ 
    margin: 0 auto;
 }



.menu ul{
    display: flex;
}


.menu ul li{
    list-style: none;
    font-size:  1rem;
    font-weight: bold;
    text-align: center;
    background-color: wheat;    
    margin: 1rem;
    border-radius: 40%;
}

.menu ul li:hover{
    transform: scale(1.2);
}

.menu ul li a{
    text-decoration: none;
}

.gridFooter{
    grid-area: footer;
}

.derechos{
    text-align: center;
    margin-top: 4rem;
}

/*Estilos de página Home/Inicio/Index*/


.gridIndex{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 0.25fr;
    grid-template-areas:"titulo titulo"
                        "imgUno imgUno"
                        "texto imgDos"
                        "iconos iconos";
    justify-content: center;
    justify-items: center;
    align-items: center;
    
}

.tituloParaTodo{
    grid-area: titulo;
    text-align: center;
    color:rgb(78, 19, 78);
    font-weight: bold;
    text-shadow: 1px 2px black;
    margin-top: 1rem;

}
   
.imagenPrincipal{
    grid-area: imgUno;
    
}

.texto{
    grid-area: texto; 
}

.imagen2{
    grid-area: imgDos;
    justify-self: left;
    
}

.imagen2 img{
    width: 89%;
}

.iconos{
    grid-area: iconos;
      

}

.iconos ul{
    display: flex;
    gap: 2rem;
}

.iconos ul li{
    list-style: none;

}



/*Vista mobile index*/

@media only screen and (max-width: 480px){
    
    .gridIndex{
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"titulo"
                            "imgUno"
                            "texto"
                            "imgDos"
                            "iconos";
        justify-content: center;
        justify-items: center;
        align-items: center;
      
    }

    .tituloParaTodo{
        text-shadow: 1px 1px black;
    }

    .imagenPrincipal{
        text-align: center;
    }

    .imagenPrincipal img{
        width: 90%;
        
    }

    .texto{
        text-align: center;
    }

    .imagen2{
        text-align: center;
    }
    
    .imagen2 img{
        width: 70%;
    }

    .menu ul li{
        background-color: transparent;
    }

}


/*Vista tablet index*/

@media only screen and (max-width: 991px){

    .gridIndex{
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"titulo"
                            "imgUno"
                            "texto"
                            "imgDos"
                            "iconos";
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .imagenPrincipal{
        text-align: center;
    }

    .imagenPrincipal img{
        width: 90%;
        
    }

    .imagen2{
        text-align: center;
        justify-self: center;
    }
    
    .imagen2 img{
        width: 80%;
        justify-self: center;
    }

    .menu ul li{
        background-color: transparent;
    }


}




/*Estilos de página de Sobre Nosotros*/



.imagenNosotros{
    margin-top: 2rem;
    text-align: center;
}

.imagenNosotros img{
    width: 80%;
}

.textoNosotros{
    text-align: justify;
    margin-top: 2rem;
    
}

.footerNosotros{
    margin-top: 10rem;
}



/*Estilos de página Proyectos*/

.gridProyectos{
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.8fr 2fr 2fr;
    grid-template-areas:"titulo titulo titulo"
                        "proyectoUno proyectoDos proyectoTres"
                        "tuProyecto tuProyecto tuProyecto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 3rem; 
}


.proyectoUno{
    grid-area: proyectoUno;
    text-align: center;
   
}

.proyectoUno p{
    text-align: center;
}

.proyectoUno img{
    width: 80%;
    border-radius: 15%;
    border: 3.5px rgb(78, 19, 78) solid;

}

.proyectoDos{
    grid-area: proyectoDos;
    text-align: center;
   
}

.proyectoDos p{
    text-align: center;
}

.proyectoDos img{
    width: 80%;
    border-radius: 15%;
    border: 3.5px rgb(78, 19, 78) solid;
}

.proyectoTres{
    grid-area: proyectoTres;
    text-align: center;
    
}

.proyectoTres p{
    text-align: center;
}

.proyectoTres img{
    width: 80%;
    border-radius: 15%;
    border: 3.5px rgb(78, 19, 78) solid;
}

.tuProyecto{
    grid-area: tuProyecto;
    text-align: center;
}

.tuProyecto p{
    text-align: center;
}

/*vista mobile Proyectos*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    
    .gridProyectos{
        grid-template-columns: auto;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"titulo"
                            "proyectoUno"
                            "proyectoDos"
                            "proyectoTres"
                            "tuProyecto";
        justify-content: center;
        justify-items: center;
        align-items: center;
       margin: 1rem;
        row-gap: 5rem; 

    }

    .menu ul li{
        background-color: transparent;
    }

    fieldset textarea{
        width: 80%;
    }


    
}

/*Estilos de página Blog*/

.gridBlog{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:"titulo titulo titulo"
                        "articulo1 articulo2 articulo3"
                        "articulo4 articulo5 articulo6";
    justify-items: center;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}

.articulo1{
    text-align: center;
    font-weight: bold;
    grid-area: articulo1;
   
}

.articulo1 img{
    width: 80%;
    
}

.articulo2{
    text-align: center;
    font-weight: bold;
    grid-area: articulo2;

}

.articulo2 img{
    width: 80%;
    
}

.articulo3{
    text-align: center;
    font-weight: bold;
    grid-area: articulo3;

}

.articulo3 img{
    width: 80%;
    
}

.articulo4{
    text-align: center;
    font-weight: bold;
    grid-area: articulo4;

}

.articulo4 img{
    width: 80%;
    
}

.articulo5{
    text-align: center;
    font-weight: bold;
    grid-area: articulo5;

}

.articulo5 img{
    width: 80%;
    
}

.articulo6{
    text-align: center;
    font-weight: bold;
    grid-area: articulo6;

}

.articulo6 img{
    width: 80%;
    
}

/*vista mobile blog*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    .gridBlog{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr repeat(6,1fr);
        grid-template-areas:"titulo"
                            "articulo1"
                            "articulo2"
                            "articulo3"
                            "articulo4"
                            "articulo5"
                            "articulo6";
        justify-items: center;
        justify-content: center;
        align-items: center;
        row-gap: 1.5rem; 
    }

    .menu ul li{
        background-color: transparent;
    }
}

/*Estilos de Contacto*/

.gridContacto{
    display: grid;
    grid-area: main;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.4fr 2fr;
    grid-template-areas:"titulo titulo"
                        "contacto img6";
    justify-content: center;
    justify-items: center;
    align-items: center;
   
}


.imagenContacto{
    grid-area: img6;
    justify-self: center;
    transform: scale(0.8);

}

.imagenMobile{
    display: none;
}


.formaContacto{
    grid-area: contacto;
    font-size: 1rem;
}

fieldset{
    border: none;
}

.formaContacto legend{
    font-weight: bold;
}


.botonesContacto input{
    
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
}

/*vista mobile contacto*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    .gridContacto{
        grid-template-columns: auto;
        grid-template-rows: 0.5fr 1fr 2fr;
        grid-template-areas:"titulo"
                            "imgMobile"
                            "contacto";
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem; 
    }

    .imagenMobile{
        display: block;
        grid-area: imgMobile;
        text-align: center;
        
    }

    .imagenMobile img{
    
        width: 80%;
    }

    .imagenContacto{
        display: none;
    }

    .menu ul li{
        background-color: transparent;
    }

}
