@import "base/variables";
@import "base/listas";
@import "base/mixin";
@import "base/extend";
@import "components/index";
@import "components/nosotros";
@import "components/proyectos";
@import "components/blog";
@import "components/contacto";

/*reset*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    /*fonts*/

    font-family: 'Raleway', sans-serif;

}