/*Estilos de Blog*/
.gridBlog{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:"titulo titulo titulo"
                        "articulo1 articulo2 articulo3"
                        "articulo4 articulo5 articulo6";
    justify-items: center;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;

    .tituloParaTodo{
        @extend %titulo;
    }

    .articulo1{
        text-align: center;
        font-weight: bold;
        grid-area: articulo1;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
       
    }

    .articulo2{
        text-align: center;
        font-weight: bold;
        grid-area: articulo2;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
    
    }

    .articulo3{
        text-align: center;
        font-weight: bold;
        grid-area: articulo3;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
    
    
    }

    .articulo4{
        text-align: center;
        font-weight: bold;
        grid-area: articulo4;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
    
    }

    .articulo5{
        text-align: center;
        font-weight: bold;
        grid-area: articulo5;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
        
    
    }

    .articulo6{
        text-align: center;
        font-weight: bold;
        grid-area: articulo6;

        img{
            width: 80%;
            
        }

        p{
            margin-top: 1rem;
        }
    
    }
    

}


/*vista tablet blog*/

@media only screen and (max-width: 991px){

    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{ 
                       li{
                           background-color: transparent;
                       }
                   }
               }
            }
        }
    }

    .gridBlog{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas:"titulo titulo"
                            "articulo1 articulo2"
                            "articulo3 articulo4"
                            "articulo5 articulo6";
        justify-items: center;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        
        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }
    }
    
}

/*vista mobile blog*/

@media only screen and (max-width: 480px){
    
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{ 
                       li{
                           background-color: transparent;
                       }
                   }
               }
            }
        }
    }

    .gridBlog{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr repeat(6,1fr);
        grid-template-areas:"titulo"
                            "articulo1"
                            "articulo2"
                            "articulo3"
                            "articulo4"
                            "articulo5"
                            "articulo6";
        justify-items: center;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        
        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }
    }
}