/*Estilos de Contacto*/

.gridContacto{
    display: grid;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas:"titulo titulo"
                        "contacto img6";
    justify-content: center;
    justify-items: center;
    align-items: center;

    .tituloParaTodo{
        @extend %titulo;
    }

    .imagenContacto{
        grid-area: img6;
        justify-self: center;
        transform: scale(0.6);
    
    }
    
    .imagenMobile{
        display: none;
    }

    .formaContacto{
        justify-self: right;
        grid-area: contacto;
        font-size: 1rem;

        fieldset{
            border: none;

            legend{
                font-weight: bold;
                margin-bottom: 2rem;
            }

            .botonesContacto{
                input{
                    border-radius: 30px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    font-size: 1rem;
                    margin-top: 1rem;
                }   
                
                input:hover{
                    background-color: $color-fondo;
                }
            }
        }
    }  
}


/*vista tablet contacto*/

@media only screen and (max-width: 991px){

    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{ 
                       li{
                           background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .gridContacto{
        grid-template-columns: auto;
        grid-template-rows: 0.3fr 0.6fr 1fr;
        grid-template-areas:"titulo"
                            "imgMobile"
                            "contacto";
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;

        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }

        .formaContacto{
            justify-self: center;
        }
        
        .imagenMobile{
            display: block;
            grid-area: imgMobile;
            text-align: center;

            img{
    
                width: 80%;
            }
            
        }

        .imagenContacto{
            display: none;
        }
    }

    
}

/*vista mobile contacto*/

@media only screen and (max-width: 480px){
    
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{ 
                       li{
                           background-color: transparent;
                       }
                   }
               }
            }
        }
    }

    .gridContacto{
        grid-template-columns: auto;
        grid-template-rows: 0.3fr 0.4fr 1fr;
        grid-template-areas:"titulo"
                            "imgMobile"
                            "contacto";
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;

        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }

        .formaContacto{
            justify-self: center;
        }
        
        .imagenMobile{
            display: block;
            grid-area: imgMobile;
            text-align: center;

            img{
    
                width: 80%;
            }
            
        }

        .imagenContacto{
            display: none;
        }
    }
}
