/*Estilos de Nosotros*/
.container-fluid{
    .row{
        .tituloParaTodo{
            @extend %titulo;
        }

        .imagenNosotros{
            margin-top: 2rem;
            text-align: center;
            img{
                width: 80%;
            }
        }

        .textoNosotros{
            margin-top: 2rem;
            padding-right: 8rem;
            align-self: center; 
            p{
                font-size: x-large;
                font-weight: bold;
                text-align: justify;
            }
        }
    }
    
    .footerNosotros{
        margin-top: 13rem;
    }
}


/*Vista tablet Nosotros*/
@media only screen and (max-width: 991px){
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{
                        li{
                            background-color: transparent;
                        }
                    }  
                }
            }    
        }
    }
    
    .container-fluid{
        .row{
            .tituloParaTodo{
                text-shadow: 1px 1px black;
            }

            .textoNosotros{
                padding: 5rem;
                p{
                    font-size: large;
                }
            }
        }
    }    
}

/*Vista mobile Nosotros*/

@media only screen and (max-width: 480px){
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{
                        li{
                            background-color: transparent;
                        }
                    }  
                }
            }    
        }
    }
    

    .container-fluid{
        .row{
            .tituloParaTodo{
                text-shadow: 1px 1px black;
            }

            .textoNosotros{
                padding: 3rem;
                p{
                    font-size: medium;
                }
            }
        } 
    }       
}

