/*Estilos de Proyectos*/
.gridProyectos{
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas:"titulo titulo titulo"
                        "proyectoUno proyectoDos proyectoTres"
                        "tuProyecto tuProyecto tuProyecto";
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;

    .tituloParaTodo{
        @extend %titulo;
    }
    
    .proyectoUno{
        grid-area: proyectoUno;
        text-align: center;

        p{
            font-weight: bold;
            font-size: large;
            text-align: center;
            margin-top: 1rem;
        }

        img{
            width: 80%;
            border-radius: 10%;
           
        }
       
    }

    .proyectoDos{
        grid-area: proyectoDos;
        text-align: center;
    
        p{
            font-weight: bold;
            font-size: large;
            text-align: center;
            margin-top: 1rem;
        }
    
        img{
            width: 80%;
            border-radius: 10%;
        }
       
    }


    .proyectoTres{
        grid-area: proyectoTres;
        text-align: center;

        p{
            font-weight: bold;
            font-size: large;
            text-align: center;
            margin-top: 1rem;
        }
        
        img{
            width: 80%;
            border-radius: 10%;
        }
    }

    .tuProyecto{
        padding: 1rem;
        background-color: rgb(156, 205, 220);
        border-radius: 1%;
        grid-area: tuProyecto;
        text-align: center;
        margin-left: 25rem;
        margin-right: 25rem;     

        p{
            text-align: center;
            font-size: large;
        }

        fieldset{
            label{
                font-size: large;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            input{
                border-radius: 30px;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: 1rem;
            }

            input:hover{
                background-color: $color-fondo;
            }
        }
    }

}

 /*vista tablet Proyectos*/

@media only screen and (max-width: 991px){
    
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{
                        li{
                            background-color: transparent;
                        }
                    }  
                }
            }    
        }
    }

    .gridProyectos{
        grid-template-columns: auto;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"titulo"
                            "proyectoUno"
                            "proyectoDos"
                            "proyectoTres"
                            "tuProyecto";
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;
            
        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }

        .tuProyecto{
            margin-left: 1rem;
            margin-right: 1rem;
            fieldset{
                textarea{
                    width: 100%;
                }
            }
        }    
    }
    
}


/*vista mobile Proyectos*/

@media only screen and (max-width: 480px){
    
    .headerParaTodo{
        justify-content: unset;
        .navbar{
            width: 100%;
            .container-fluid{
                .menu{
                    ul{
                        li{
                            background-color: transparent;
                        }
                    }  
                }
            }    
        }
    }

    .gridProyectos{
        grid-template-columns: auto;
        grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr;
        grid-template-areas:"titulo"
                            "proyectoUno"
                            "proyectoDos"
                            "proyectoTres"
                            "tuProyecto";
        justify-content: center;
        justify-items: center;
        align-items: center;
        row-gap: 1rem;
            
        .tituloParaTodo{
            text-shadow: 1px 1px black;
        }

        .tuProyecto{
            margin-left: 1rem;
            margin-right: 1rem;
            fieldset{
                textarea{
                    width: 100%;
                }
            }
        }    
    }
}   
